

<form class="bg-body">
	<div class="form-group">
		<label for="formGroupExampleInput" class="text-white">Pesos Dominicanos</label>
		<input type="text" class="form-control" id="formGroupExampleInput" @bind-value="pesos">
	</div>
	<div class="form-group">
		<label for="formGroupExampleInput2" class="text-white">Dolares</label>
		<input type="text" class="form-control" id="formGroupExampleInput2" @bind-value="dolar">
	</div>
	<div class="d-flex justify-content-center">
		<button type="button" class="btn btn-light col-12" @onclick="Enviar">Calcular</button>
	</div>
	<div class="d-flex justify-content-center pt-2">
		<button type="button" class="btn btn-warning col-12" @onclick="Limpiar">Limpiar</button>

	</div>
</form>



@code
{
	private Class miClase;
	private string bodyContent;

	private double pesos;
	private double dolar;
	private double Convertido;


	protected override void OnInitialized()
	{
		string url = "https://www.google.com/finance/quote/USD-DOP";
		miClase = new Class(url);

		bodyContent = miClase.body.InnerHtml;
		Convertido = double.Parse(bodyContent);



	}
	private void Enviar()
	{
		if (pesos != 0)
		{
			dolar = pesos / Convertido;
			dolar = Math.Round(dolar, 2);

		}
		else if (dolar != 0)
		{
			pesos = dolar * Convertido;
			pesos = Math.Round(pesos, 2);
		}

	}
	private void Limpiar()
	{
		pesos = 0;
		dolar = 0;
	}


}